#baner{
    background-image: url('img/baner.png');
    min-height: 900px;
    background-position: top center;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    &:before{
        content:' ';
        position: absolute;
        background-color: rgba(0,0,0,0.55);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img{
        position: absolute;
        bottom: 0;
        max-width: 50%;
    }

    .heading{
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
        opacity: 0.7;
        margin-bottom: 20px;
        display: inline-block;
    }

    .title{
        font-weight: 600;
        font-size: 76px;
        line-height: 84px;
        letter-spacing: 0%;
        color: white;
        display: inline-block;
    }

    .signature{
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        color: white;
        opacity: 0.8;
        margin-bottom: 40px;
    }

    .line{
        margin-top: 110px;
        margin-bottom: 70px;
        position: relative;

        &:before{
            content:' ';
            width: 200%;
            height: 1px;
            position: absolute;
            background: #555555;
        }

        &:after{
            content:' ';
            background-color: $orange;
            width: 14px;
            height: 14px;
            position: absolute;
            border-radius: 50%;
            top: -6px;
        }
    }

    .more{
        border: 1px solid $orange;
        border-radius: 50%;
        display: inline-grid;
        width: 56px;
        height: 56px;
        margin-left: auto;
        place-items: center;

        &:hover{
            svg{
                path{
                    stroke: $orange;
                }
            }
        }
    }
}

#nasze-dzialania{
    padding-top: 192px;

    .heading{
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        color: black;
        margin-bottom:20px;
    }

    .title{
        @include h1;
    }

    .boxs{
        margin-top: 270px;
        background-color: $orange;
        background-image: url('img/efekty.png');
        background-repeat: no-repeat;
        background-position: top right;
        
        .box{
            margin-bottom: 16px;
            position: relative;
            top: -130px;
            a{
                padding: 32px 35px;
                position: absolute;
                bottom: 0;
                width: 100%;
                justify-content: space-between;
                align-items: end;
                color: white;
                text-decoration: none;
                font-size: 26px;
                font-weight: 600;
                line-height: 30px;
                .name{
                    flex: 1;
                    margin-right: 20px;
                }
            }
        }
    }
}

#efekty{
    background-color: #1E1E1D;
    padding: 144px 0;

    .header{
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 20px;
    }

    .title{
        @include h1;
        color: white;
        margin: 0;
        text-align: left;
    }

    .content{
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
        letter-spacing: 0%;
        color: white;
    }

    .masonry{
        padding: 120px 0 0 24px;
        column-count: 2;
        column-gap: 56px;
        .box{
            border: 1px solid #404040;
            padding: 56px;
            display: inline-block;
            box-sizing: border-box;
            break-inside: avoid;
            margin: 0 0 40px;

            .name{
                font-weight: 600;
                font-size: 28px;
                line-height: 100%;
                letter-spacing: 0%;
                color: white;    
                margin-bottom: 24px;        
                line-height: 34px;    
            }

            .desc{
                color: #8C8C8C;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: 0%;
                margin-bottom: 32px;
            }

            .more{
                color: white;
                font-weight: 700;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: none;
                
                svg{
                    margin-right: 16px;
                }
            }
        }
    }
}

#faq{
    padding: 120px 0;

    .header{
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: black;
        margin-bottom: 20px;
    }

    .title{
        @include h1;
        margin: 0;
        text-align: left;
    }

    .content{
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0%;
        color: black;
    }

    .questions{
        border-top: 1px solid #E9E9E9;
        padding-top: 64px;
        margin-top: 64px;

        .contact{
            color: black;
            font-weight: 400;
            font-size: 18px;
            line-height: 33px;
            letter-spacing: 0%;

            a{
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
                letter-spacing: 0%;
                color: $orange;
            }
        }

        .accordion{
            .accordion-item{
                margin-bottom: 12px;
                border: none;

                &:last-child{
                    margin-bottom: 0;
                }

                .accordion-header{

                    button{
                        background-color: transparent;
                        padding: 16px 24px;
                        color: black;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0%;
                        box-shadow: none !important;
                        border: 1px solid #ABABAD;
                        border-bottom: none;
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;

                        &:after{
                            display: none !important;
                        }

                        .text{
                            flex: 1;
                            margin-right: 50px;
                        }

                        .show{
                            width: 48px;
                            height: 48px;
                            display: grid;
                            place-items: center;
                            border: 1px solid $orange;
                            border-radius: 50%;
                            background-color: $orange;
                            .plus{
                                display: none;
                            }

                            &:hover{
                                background-color: $orange;
                                .plus{
                                    path{
                                        stroke:$orange;
                                    }
                                }
                            }
                        }
                        

                        &.collapsed{
                            font-weight: 500;
                            background-color: #F5F5F5;
                            border: none;
                            .show{
                                background-color: transparent;
                                .minus{
                                    display: none;
                                }

                                .plus{
                                    display: block;
                                }
                            }
                        }
                    }
                }

                .accordion-collapse {
                    border: 1px solid transparent;
                    .accordion-body{
                        color: #878787;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0%;
                        padding: 20px 98px 20px 24px;
                        
                    }

                    &.show,&.collapsing {
                        border: 1px solid #ABABAD;
                        border-top: none;
                        border-bottom-left-radius: 12px;
                        border-bottom-right-radius: 12px;
                    }
                }


            }
        }
    }
}

#aktualnosci{
    padding: 120px 0;
    background-color: #F5F5F5;

    .header{
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: black;
        margin-bottom: 20px;
    }

    .title{
        @include h1;
        margin: 0;
    }

    .posts{
        margin-top: 72px;

        .post{
            padding-bottom: 50px;
            height: 100%;
            .category{
                position: absolute;
                top: 20px;
                left: 20px;
                padding: 6px 10px;
                font-weight: 600;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 2%;
                background-color: #ABABAD;
                color: white;
                border-radius: 4px;

                &.aktualnosci{
                    background-color: $orange;
                }
            }

            .name{
                font-weight: 600;
                font-size: 22px;
                line-height: 28px;
                color: black;     
                display: block;
                margin-bottom: 16px;    
                text-align: left;
                margin-top: 32px;
                text-decoration: none;
            }

            .date{  
                color: #5D5D5D;
                font-weight: 400;
                font-size: 16px;
                line-height: 29px;
                position: absolute;
                bottom: 0;
            }
        }
    }
}