body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
body .btn {
  border: 1px solid #B7B7B7;
  border-radius: 4px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: white;
}
body .btn.black_color {
  color: black;
}
body .btn.black_color:hover {
  background-color: transparent;
  color: black;
  border-color: black;
}
body .btn.black {
  background-color: black;
  border-color: black;
}
body .btn.black:hover {
  background-color: transparent;
  color: black;
  border-color: black;
}
body .btn svg {
  margin-right: 13px;
}
body .btn:hover {
  border-color: white;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 32px 0;
  z-index: 9;
}
header.border_bottom {
  border-bottom: 1px solid #303030;
}
header ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
header ul li a {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: white;
  opacity: 50%;
  text-decoration: none;
}
header ul li:hover a {
  opacity: 1;
}

#header {
  background-color: black;
  padding: 240px 0 192px 0;
  position: relative;
}
#header .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  opacity: 0.7;
  margin-bottom: 20px;
}
#header h1 {
  font-weight: 600;
  font-size: 68px;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
}
#header .more {
  width: 56px;
  height: 56px;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  border: 1px solid #EF8213;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  margin: auto;
}

footer {
  background-color: #1E1E1D;
  padding: 120px 0;
}
footer .footer_title {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin: 0;
}
footer .up {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
footer .up span {
  width: 56px;
  height: 56px;
  border: 1px solid #EF8213;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  margin-left: 24px;
  border-radius: 50%;
}
footer ul {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 24px;
  max-width: 750px;
}
footer ul li a {
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  opacity: 0.5;
  text-decoration: none;
}
footer ul li a:hover {
  opacity: 1;
}
footer .copy {
  border-top: 1px solid #E4E4E4;
  padding-top: 85px;
  margin-top: 85px;
  position: relative;
}
footer .copy:before {
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #EF8213;
  border-radius: 50%;
  left: 0;
  top: -6px;
}
footer .copy .copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
  opacity: 0.8;
}
footer .copy .social .name {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-right: 36px;
  margin-bottom: 0;
}
footer .copy .social .item {
  background-color: #2F2F2F;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 13px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#baner {
  background-image: url("img/baner.png");
  min-height: 900px;
  background-position: top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}
#baner:before {
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#baner img {
  position: absolute;
  bottom: 0;
  max-width: 50%;
}
#baner .heading {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  opacity: 0.7;
  margin-bottom: 20px;
  display: inline-block;
}
#baner .title {
  font-weight: 600;
  font-size: 76px;
  line-height: 84px;
  letter-spacing: 0%;
  color: white;
  display: inline-block;
}
#baner .signature {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
  opacity: 0.8;
  margin-bottom: 40px;
}
#baner .line {
  margin-top: 110px;
  margin-bottom: 70px;
  position: relative;
}
#baner .line:before {
  content: " ";
  width: 200%;
  height: 1px;
  position: absolute;
  background: #555555;
}
#baner .line:after {
  content: " ";
  background-color: #EF8213;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  top: -6px;
}
#baner .more {
  border: 1px solid #EF8213;
  border-radius: 50%;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 56px;
  height: 56px;
  margin-left: auto;
  place-items: center;
}
#baner .more:hover svg path {
  stroke: #EF8213;
}

#nasze-dzialania {
  padding-top: 192px;
}
#nasze-dzialania .heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
}
#nasze-dzialania .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1%;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
#nasze-dzialania .boxs {
  margin-top: 270px;
  background-color: #EF8213;
  background-image: url("img/efekty.png");
  background-repeat: no-repeat;
  background-position: top right;
}
#nasze-dzialania .boxs .box {
  margin-bottom: 16px;
  position: relative;
  top: -130px;
}
#nasze-dzialania .boxs .box a {
  padding: 32px 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: white;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}
#nasze-dzialania .boxs .box a .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}

#efekty {
  background-color: #1E1E1D;
  padding: 144px 0;
}
#efekty .header {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}
#efekty .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1%;
  text-align: center;
  text-transform: uppercase;
  color: black;
  color: white;
  margin: 0;
  text-align: left;
}
#efekty .content {
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  color: white;
}
#efekty .masonry {
  padding: 120px 0 0 24px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
}
#efekty .masonry .box {
  border: 1px solid #404040;
  padding: 56px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  margin: 0 0 40px;
}
#efekty .masonry .box .name {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 24px;
  line-height: 34px;
}
#efekty .masonry .box .desc {
  color: #8C8C8C;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0%;
  margin-bottom: 32px;
}
#efekty .masonry .box .more {
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
#efekty .masonry .box .more svg {
  margin-right: 16px;
}

#faq {
  padding: 120px 0;
}
#faq .header {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
}
#faq .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1%;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin: 0;
  text-align: left;
}
#faq .content {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0%;
  color: black;
}
#faq .questions {
  border-top: 1px solid #E9E9E9;
  padding-top: 64px;
  margin-top: 64px;
}
#faq .questions .contact {
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0%;
}
#faq .questions .contact a {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0%;
  color: #EF8213;
}
#faq .questions .accordion .accordion-item {
  margin-bottom: 12px;
  border: none;
}
#faq .questions .accordion .accordion-item:last-child {
  margin-bottom: 0;
}
#faq .questions .accordion .accordion-item .accordion-header button {
  background-color: transparent;
  padding: 16px 24px;
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ABABAD;
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#faq .questions .accordion .accordion-item .accordion-header button:after {
  display: none !important;
}
#faq .questions .accordion .accordion-item .accordion-header button .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 50px;
}
#faq .questions .accordion .accordion-item .accordion-header button .show {
  width: 48px;
  height: 48px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 1px solid #EF8213;
  border-radius: 50%;
  background-color: #EF8213;
}
#faq .questions .accordion .accordion-item .accordion-header button .show .plus {
  display: none;
}
#faq .questions .accordion .accordion-item .accordion-header button .show:hover {
  background-color: #EF8213;
}
#faq .questions .accordion .accordion-item .accordion-header button .show:hover .plus path {
  stroke: #EF8213;
}
#faq .questions .accordion .accordion-item .accordion-header button.collapsed {
  font-weight: 500;
  background-color: #F5F5F5;
  border: none;
}
#faq .questions .accordion .accordion-item .accordion-header button.collapsed .show {
  background-color: transparent;
}
#faq .questions .accordion .accordion-item .accordion-header button.collapsed .show .minus {
  display: none;
}
#faq .questions .accordion .accordion-item .accordion-header button.collapsed .show .plus {
  display: block;
}
#faq .questions .accordion .accordion-item .accordion-collapse {
  border: 1px solid transparent;
}
#faq .questions .accordion .accordion-item .accordion-collapse .accordion-body {
  color: #878787;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 20px 98px 20px 24px;
}
#faq .questions .accordion .accordion-item .accordion-collapse.show, #faq .questions .accordion .accordion-item .accordion-collapse.collapsing {
  border: 1px solid #ABABAD;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#aktualnosci {
  padding: 120px 0;
  background-color: #F5F5F5;
}
#aktualnosci.white {
  background-color: transparent;
}
#aktualnosci .header {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
}
#aktualnosci .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1%;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin: 0;
  margin-bottom: 72px;
}
#aktualnosci .heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 58px;
  letter-spacing: 1%;
  color: black;
  margin: 0;
  margin-bottom: 32px;
}
#aktualnosci .categories {
  margin-bottom: 72px;
}
#aktualnosci .categories .item {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 14px 20px;
  color: black;
  margin: 0 6px;
  display: block;
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid #D6D6D6;
}
#aktualnosci .categories .item.active, #aktualnosci .categories .item:hover {
  background-color: #EF8213;
  color: white;
  border-color: #EF8213;
}
#aktualnosci .posts .post {
  padding-bottom: 50px;
  height: 100%;
}
#aktualnosci .posts .post .category {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2%;
  background-color: #ABABAD;
  color: white;
  border-radius: 4px;
}
#aktualnosci .posts .post .category.aktualnosci {
  background-color: #EF8213;
}
#aktualnosci .posts .post .name {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: black;
  display: block;
  margin-bottom: 16px;
  text-align: left;
  margin-top: 32px;
  text-decoration: none;
}
#aktualnosci .posts .post .date {
  color: #5D5D5D;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  position: absolute;
  bottom: 0;
}

#contact {
  padding: 120px 0;
}
#contact.grey {
  background-color: #F5F5F5;
}
#contact .header {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
}
#contact .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1%;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin: 0;
  text-align: left;
}
#contact .phones {
  padding: 0 32px 32px 32px;
  position: relative;
  border-bottom: 1px solid #E4E4E4;
}
#contact .phones:before {
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #EF8213;
  border-radius: 50%;
  left: 0;
  bottom: -6px;
}
#contact .phones label {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0%;
  color: #5D5D5D;
  margin-bottom: 8px;
}
#contact .phones a {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  margin-left: 16px;
  text-decoration: none;
}
#contact .phones a:hover {
  color: #EF8213;
}
#contact .map {
  position: relative;
  margin-top: 80px;
}
#contact .map .marker {
  position: absolute;
  top: 42%;
  left: 54%;
}
#contact .map .info {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  max-width: 300px;
  border-radius: 4px;
}
#contact .map .info svg {
  position: relative;
  top: 10px;
}
#contact .map .info .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 16px;
}
#contact .map .info .text .btn {
  color: black;
  margin-top: 21px;
}
#contact form {
  margin-top: 80px;
}
#contact form .form_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  margin-bottom: 40px;
}
#contact form input {
  border: 1px solid #B9B9B9;
  width: 100%;
  padding: 13px 20px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
#contact form input[type=checkbox] {
  width: 18px;
  height: 18px;
  margin: 0 13px 0 0;
  position: relative;
  top: 3px;
}
#contact form textarea {
  border: 1px solid #B9B9B9;
  width: 100%;
  padding: 13px 20px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
#contact form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0%;
  color: #5D5D5D;
}